In [1]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
raw_data_dir = "/data/put_data/cmchang/gynecology/raw_data/"
process_data_dir = "/data/put_data/cmchang/gynecology/data/"

In [4]:
dx = pd.read_csv(os.path.join(raw_data_dir, 'data_20180911.csv'))
dy = pd.read_csv(os.path.join(raw_data_dir, 'interpretation_new_180927.csv'))

print("dx.shape = %s, dy.shape = %s" % (dx.shape, dy.shape))

dx.shape = (128760, 68), dy.shape = (213, 12)

In [5]:
dx.head()

,counter,machine_type,type,bed,mins_diff,datetime,date,time,_00,_01,...,_50,_51,_52,_53,_54,_55,_56,_57,_58,_59
0,1,1,1,01,2025496,2011-04-07 14:16:00,2011-04-07,14:16:00,0,46,...,24,22,24,22,21,22,20,20,20,22
1,2,1,2,01,2025496,2011-04-07 14:16:00,2011-04-07,14:16:00,0,138,...,141,140,141,140,140,141,140,138,139,139
2,3,1,3,01,2025496,2011-04-07 14:16:00,2011-04-07,14:16:00,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,1,1,01,2025497,2011-04-07 14:17:00,2011-04-07,14:17:00,20,20,...,22,20,0,21,21,21,22,23,24,25
4,5,1,2,01,2025497,2011-04-07 14:17:00,2011-04-07,14:17:00,138,138,...,140,139,0,138,137,137,138,138,138,138

In [6]:
dy.head()

,ID,bed,date,start,end,FHB,variability,UA,UA_duration,UA_interval,deceleration,management
0,288427,LDR1,2013-01-15,17:20,17:30,140,0,0,0.0,NaN,0,0
1,288427,LDR1,2013-01-15,17:54,18:04,140,0,1,60.0,120.0,2,1
2,288427,LDR1,2013-01-15,18:15,18:25,155,0,0,0.0,NaN,2,1
3,288427,LDR1,2013-01-15,18:29,18:39,150,0,0,0.0,NaN,2,1
4,288427,LDR1,2013-01-15,18:39,18:49,155,0,1,120.0,60.0,2,1

#### remove X but without Y

In [7]:
selector = [k in set(dy.date) for k in dx.date]

dx = dx[selector]

print("dx.shape = %s, dy.shape = %s" % (dx.shape, dy.shape))

dx.shape = (62380, 68), dy.shape = (213, 12)

#### create key

In [21]:
dx['seconds'] = (pd.to_datetime(dx.datetime) - pd.to_datetime(dx.date)).dt.seconds
dx['key'] = dx.apply(lambda row: str(row['date']) +' '+ str(row['seconds']), axis=1)

In [23]:
dy['datetime'] = dy.date + ' ' + dy.start
dy['seconds'] = (pd.to_datetime(dy.datetime) - pd.to_datetime(dy.date)).dt.seconds
dy['key'] = dy.apply(lambda row: str(row['date']) +' '+ str(row['seconds']), axis=1)

#### remove Y but without X

In [32]:
selector = [k in set(dx.key) for k in dy.key]

dy = dy[selector]

In [33]:
if set(dy.key) - set(dx.key):
    print('%i labels have no inputs.' % len(set(dy.key) - set(dx.key)))
    print(set(dy.key) - set(dx.key))
else:
    print('all labels have corresponding inputs.')

all labels have corresponding inputs.

In [34]:
dy.head()

,ID,bed,date,start,end,FHB,variability,UA,UA_duration,UA_interval,deceleration,management,datetime,seconds,key
0,288427,LDR1,2013-01-15,17:20,17:30,140,0,0,0.0,NaN,0,0,2013-01-15 17:20,62400,2013-01-15 62400
1,288427,LDR1,2013-01-15,17:54,18:04,140,0,1,60.0,120.0,2,1,2013-01-15 17:54,64440,2013-01-15 64440
2,288427,LDR1,2013-01-15,18:15,18:25,155,0,0,0.0,NaN,2,1,2013-01-15 18:15,65700,2013-01-15 65700
3,288427,LDR1,2013-01-15,18:29,18:39,150,0,0,0.0,NaN,2,1,2013-01-15 18:29,66540,2013-01-15 66540
4,288427,LDR1,2013-01-15,18:39,18:49,155,0,1,120.0,60.0,2,1,2013-01-15 18:39,67140,2013-01-15 67140

In [38]:
# only have 8 minutes ... (?)
dy[dy.key=='2015-08-28 66420']

,ID,bed,date,start,end,FHB,variability,UA,UA_duration,UA_interval,deceleration,management,datetime,seconds,key
134,324546,LDR1,2015-08-28,18:27,18:35,135,0,1,90.0,60.0,0,0,2015-08-28 18:27,66420,2015-08-28 66420

In [39]:
dy.drop(dy.index[list(dy.key).index('2015-08-28 66420')], inplace=True)

In [40]:
dy.sort_values('key', inplace=True)

In [41]:
dy.reset_index(inplace=True)
dy.drop('index', axis=1, inplace=True)

In [42]:
dy.head()

,ID,bed,date,start,end,FHB,variability,UA,UA_duration,UA_interval,deceleration,management,datetime,seconds,key
0,288427,LDR1,2013-01-15,17:20,17:30,140,0,0,0.0,NaN,0,0,2013-01-15 17:20,62400,2013-01-15 62400
1,288427,LDR1,2013-01-15,17:54,18:04,140,0,1,60.0,120.0,2,1,2013-01-15 17:54,64440,2013-01-15 64440
2,288427,LDR1,2013-01-15,18:15,18:25,155,0,0,0.0,NaN,2,1,2013-01-15 18:15,65700,2013-01-15 65700
3,288427,LDR1,2013-01-15,18:29,18:39,150,0,0,0.0,NaN,2,1,2013-01-15 18:29,66540,2013-01-15 66540
4,288427,LDR1,2013-01-15,18:39,18:49,155,0,1,120.0,60.0,2,1,2013-01-15 18:39,67140,2013-01-15 67140

In [44]:
mm_dx = dx[dx.type==1]
bb_dx = dx[dx.type==2]

In [45]:
mm_dx.head(3)

,counter,machine_type,type,bed,mins_diff,datetime,date,time,_00,_01,...,_52,_53,_54,_55,_56,_57,_58,_59,seconds,key
2913,2914,1,1,LDR2,2960152,2013-01-15 15:52:00,2013-01-15,15:52:00,20,20,...,20,20,20,20,20,20,20,20,57120,2013-01-15 57120
2914,2915,1,1,LDR2,2960153,2013-01-15 15:53:00,2013-01-15,15:53:00,20,20,...,21,21,21,21,21,21,21,21,57180,2013-01-15 57180
2915,2916,1,1,LDR2,2960154,2013-01-15 15:54:00,2013-01-15,15:54:00,21,21,...,21,21,21,21,21,21,21,21,57240,2013-01-15 57240

In [49]:
mm_val_idx = list()
for k in mm_dx.columns:
    if len(k) == 3 and '_' in k:
        mm_val_idx.append(k)
        print(k, end='\t')

_00	_01	_02	_03	_04	_05	_06	_07	_08	_09	_10	_11	_12	_13	_14	_15	_16	_17	_18	_19	_20	_21	_22	_23	_24	_25	_26	_27	_28	_29	_30	_31	_32	_33	_34	_35	_36	_37	_38	_39	_40	_41	_42	_43	_44	_45	_46	_47	_48	_49	_50	_51	_52	_53	_54	_55	_56	_57	_58	_59

In [54]:
bb_val_idx = list()
for k in bb_dx.columns:
    if len(k) == 3 and '_' in k:
        bb_val_idx.append(k)
        print(k, end='\t')

_00	_01	_02	_03	_04	_05	_06	_07	_08	_09	_10	_11	_12	_13	_14	_15	_16	_17	_18	_19	_20	_21	_22	_23	_24	_25	_26	_27	_28	_29	_30	_31	_32	_33	_34	_35	_36	_37	_38	_39	_40	_41	_42	_43	_44	_45	_46	_47	_48	_49	_50	_51	_52	_53	_54	_55	_56	_57	_58	_59

In [56]:
dy.key

0      2013-01-15 62400
1      2013-01-15 64440
2      2013-01-15 65700
3      2013-01-15 66540
4      2013-01-15 67140
5      2013-01-15 69540
6      2013-01-15 71820
7      2013-01-15 73140
8      2013-01-15 74940
9      2013-01-15 76140
10     2013-01-15 77340
11     2013-01-18 30840
12     2013-01-18 51240
13     2013-01-28 11580
14     2013-01-28 19380
15     2013-02-15 54180
16     2013-02-21 27480
17       2013-03-03 960
18     2013-03-06 76260
19     2013-04-17 63840
20     2013-05-01 55980
21     2013-05-01 58980
22     2013-05-01 63180
23     2013-05-14 61740
24     2013-05-19 76980
25     2013-05-20 33120
26     2013-05-25 37380
27     2013-05-25 48180
28     2013-05-27 47580
29     2013-05-27 47580
             ...
177    2017-05-07 79740
178    2017-05-13 16740
179    2017-05-13 22140
180    2017-05-13 29340
181    2017-06-10 46320
182    2017-08-16 69720
183    2017-08-23 55140
184    2017-09-12 59280
185    2017-09-12 81300
186    2017-09-13 15360
187     2017-09-13 2280
188    2017-09-13 51480
189    2017-09-13 52080
190     2017-09-13 8880
191    2017-09-20 40200
192    2017-09-21 73980
193    2017-09-26 34140
194    2017-09-27 51960
195    2017-09-27 56040
196    2017-10-17 58800
197    2017-11-09 56520
198    2017-11-17 50820
199    2017-11-17 57420
200    2018-01-19 15840
201    2018-01-19 18840
202    2018-03-25 42420
203    2018-03-25 43020
204     2018-03-28 1680
205    2018-06-19 77760
206    2018-06-29 44880
Name: key, Length: 207, dtype: object

In [66]:
mm_dx

,counter,machine_type,type,bed,mins_diff,datetime,date,time,_00,_01,...,_52,_53,_54,_55,_56,_57,_58,_59,seconds,key
2913,2914,1,1,LDR2,2960152,2013-01-15 15:52:00,2013-01-15,15:52:00,20,20,...,20,20,20,20,20,20,20,20,57120,2013-01-15 57120
2914,2915,1,1,LDR2,2960153,2013-01-15 15:53:00,2013-01-15,15:53:00,20,20,...,21,21,21,21,21,21,21,21,57180,2013-01-15 57180
2915,2916,1,1,LDR2,2960154,2013-01-15 15:54:00,2013-01-15,15:54:00,21,21,...,21,21,21,21,21,21,21,21,57240,2013-01-15 57240
2916,2917,1,1,LDR2,2960155,2013-01-15 15:55:00,2013-01-15,15:55:00,21,21,...,21,21,21,21,21,20,21,21,57300,2013-01-15 57300
2917,2918,1,1,LDR1,2960224,2013-01-15 17:04:00,2013-01-15,17:04:00,0,0,...,54,56,54,56,62,61,59,55,61440,2013-01-15 61440
2919,2920,1,1,LDR1,2960225,2013-01-15 17:05:00,2013-01-15,17:05:00,0,52,...,19,0,19,19,19,19,20,20,61500,2013-01-15 61500
2921,2922,1,1,LDR1,2960226,2013-01-15 17:06:00,2013-01-15,17:06:00,19,20,...,17,17,17,19,19,0,18,18,61560,2013-01-15 61560
2923,2924,1,1,LDR1,2960227,2013-01-15 17:07:00,2013-01-15,17:07:00,18,18,...,16,16,16,15,16,16,16,16,61620,2013-01-15 61620
2925,2926,1,1,LDR1,2960228,2013-01-15 17:08:00,2013-01-15,17:08:00,16,0,...,16,16,16,16,16,16,17,17,61680,2013-01-15 61680
2927,2928,1,1,LDR1,2960229,2013-01-15 17:09:00,2013-01-15,17:09:00,16,16,...,22,0,23,23,23,22,23,22,61740,2013-01-15 61740
2929,2930,1,1,LDR1,2960230,2013-01-15 17:10:00,2013-01-15,17:10:00,21,21,...,19,20,19,20,19,20,21,21,61800,2013-01-15 61800
2931,2932,1,1,LDR1,2960231,2013-01-15 17:11:00,2013-01-15,17:11:00,21,22,...,27,26,26,25,24,24,23,22,61860,2013-01-15 61860
2933,2934,1,1,LDR1,2960232,2013-01-15 17:12:00,2013-01-15,17:12:00,22,21,...,20,20,19,20,19,19,18,18,61920,2013-01-15 61920
2935,2936,1,1,LDR1,2960233,2013-01-15 17:13:00,2013-01-15,17:13:00,18,17,...,16,0,17,17,17,17,17,17,61980,2013-01-15 61980
2937,2938,1,1,LDR1,2960234,2013-01-15 17:14:00,2013-01-15,17:14:00,17,17,...,23,24,25,26,26,0,26,26,62040,2013-01-15 62040
2939,2940,1,1,LDR1,2960235,2013-01-15 17:15:00,2013-01-15,17:15:00,27,0,...,23,23,23,23,23,23,24,23,62100,2013-01-15 62100
2941,2942,1,1,LDR1,2960236,2013-01-15 17:16:00,2013-01-15,17:16:00,24,0,...,20,21,21,21,22,22,22,22,62160,2013-01-15 62160
2943,2944,1,1,LDR1,2960237,2013-01-15 17:17:00,2013-01-15,17:17:00,23,22,...,22,0,21,21,21,20,20,20,62220,2013-01-15 62220
2945,2946,1,1,LDR1,2960238,2013-01-15 17:18:00,2013-01-15,17:18:00,20,21,...,24,24,25,26,26,0,28,28,62280,2013-01-15 62280
2947,2948,1,1,LDR1,2960239,2013-01-15 17:19:00,2013-01-15,17:19:00,28,30,...,26,25,26,25,25,25,24,24,62340,2013-01-15 62340
2949,2950,1,1,LDR1,2960240,2013-01-15 17:20:00,2013-01-15,17:20:00,24,0,...,24,23,23,22,22,22,22,21,62400,2013-01-15 62400
2951,2952,1,1,LDR1,2960241,2013-01-15 17:21:00,2013-01-15,17:21:00,21,21,...,23,0,21,21,21,21,21,21,62460,2013-01-15 62460
2953,2954,1,1,LDR1,2960242,2013-01-15 17:22:00,2013-01-15,17:22:00,21,21,...,23,22,22,23,22,0,22,22,62520,2013-01-15 62520
2955,2956,1,1,LDR1,2960243,2013-01-15 17:23:00,2013-01-15,17:23:00,22,22,...,20,20,19,20,21,21,22,22,62580,2013-01-15 62580
2957,2958,1,1,LDR1,2960244,2013-01-15 17:24:00,2013-01-15,17:24:00,21,0,...,21,21,20,21,21,21,20,20,62640,2013-01-15 62640
2959,2960,1,1,LDR1,2960245,2013-01-15 17:25:00,2013-01-15,17:25:00,19,19,...,49,0,48,49,49,51,52,52,62700,2013-01-15 62700
2961,2962,1,1,LDR1,2960246,2013-01-15 17:26:00,2013-01-15,17:26:00,53,53,...,30,30,31,31,30,0,30,30,62760,2013-01-15 62760
2963,2964,1,1,LDR1,2960247,2013-01-15 17:27:00,2013-01-15,17:27:00,29,29,...,20,20,20,20,20,20,20,20,62820,2013-01-15 62820
2965,2966,1,1,LDR1,2960248,2013-01-15 17:28:00,2013-01-15,17:28:00,20,0,...,28,28,28,28,29,29,29,29,62880,2013-01-15 62880
2967,2968,1,1,LDR1,2960249,2013-01-15 17:29:00,2013-01-15,17:29:00,29,29,...,24,0,24,24,24,25,25,25,62940,2013-01-15 62940
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128141,128142,1,1,LDR1,5826986,2018-06-29 12:26:00,2018-06-29,12:26:00,28,26,...,22,22,22,22,22,22,22,22,44760,2018-06-29 44760
128143,128144,1,1,LDR1,5826987,2018-06-29 12:27:00,2018-06-29,12:27:00,22,23,...,25,24,24,24,25,25,25,26,44820,2018-06-29 44820
128145,128146,1,1,LDR1,5826988,2018-06-29 12:28:00,2018-06-29,12:28:00,27,28,...,39,39,0,40,41,41,41,40,44880,2018-06-29 44880
128147,128148,1,1,LDR1,5826989,2018-06-29 12:29:00,2018-06-29,12:29:00,0,39,...,43,50,0,65,66,61,54,44,44940,2018-06-29 44940
128149,128150,1,1,LDR1,5826990,2018-06-29 12:30:00,2018-06-29,12:30:00,41,38,...,25,25,24,25,24,24,0,25,45000,2018-06-29 45000
128151,128152,1,1,LDR1,5826991,2018-06-29 12:31:00,2018-06-29,12:31:00,25,24,...,52,51,53,51,53,51,50,47,45060,2018-06-29 45060
128153,128154,1,1,LDR1,5826992,2018-06-29 12:32:00,2018-06-29,12:32:00,46,44,...,25,25,25,25,25,25,25,24,45120,2018-06-29 45120
128155,128156,1,1,LDR1,5826993,2018-06-29 12:33:00,2018-06-29,12:33:00,25,25,...,23,23,0,23,23,23,0,23,45180,2018-06-29 45180
128157,128158,1,1,LDR1,5826994,2018-06-29 12:34:00,2018-06-29,12:34:00,23,23,...,38,40,43,44,46,47,0,59,45240,2018-06-29 45240
128159,128160,1,1,LDR1,5826995,2018-06-29 12:35:00,2018-06-29,12:35:00,77,83,...,38,36,35,50,65,74,78,75,45300,2018-06-29 45300
128161,128162,1,1,LDR1,5826996,2018-06-29 12:36:00,2018-06-29,12:36:00,75,71,...,24,24,25,25,25,24,25,25,45360,2018-06-29 45360
128163,128164,1,1,LDR1,5826997,2018-06-29 12:37:00,2018-06-29,12:37:00,24,25,...,25,25,25,26,26,26,25,25,45420,2018-06-29 45420
128165,128166,1,1,LDR1,5826998,2018-06-29 12:38:00,2018-06-29,12:38:00,25,24,...,73,91,87,85,82,65,56,50,45480,2018-06-29 45480
128167,128168,1,1,LDR1,5826999,2018-06-29 12:39:00,2018-06-29,12:39:00,50,57,...,38,38,37,37,37,37,36,37,45540,2018-06-29 45540
128169,128170,1,1,LDR1,5827000,2018-06-29 12:40:00,2018-06-29,12:40:00,36,35,...,39,40,41,40,38,38,37,37,45600,2018-06-29 45600
128171,128172,1,1,LDR1,5827001,2018-06-29 12:41:00,2018-06-29,12:41:00,37,35,...,27,27,0,27,26,26,26,25,45660,2018-06-29 45660
128173,128174,1,1,LDR1,5827002,2018-06-29 12:42:00,2018-06-29,12:42:00,0,26,...,24,25,24,25,24,25,0,26,45720,2018-06-29 45720
128175,128176,1,1,LDR1,5827003,2018-06-29 12:43:00,2018-06-29,12:43:00,26,26,...,38,37,38,39,38,37,36,35,45780,2018-06-29 45780
128177,128178,1,1,LDR1,5827004,2018-06-29 12:44:00,2018-06-29,12:44:00,33,32,...,22,24,25,24,24,23,25,27,45840,2018-06-29 45840
128179,128180,1,1,LDR1,5827005,2018-06-29 12:45:00,2018-06-29,12:45:00,27,27,...,25,24,0,23,24,24,25,25,45900,2018-06-29 45900
128181,128182,1,1,LDR1,5827006,2018-06-29 12:46:00,2018-06-29,12:46:00,25,25,...,0,0,0,0,0,0,0,0,45960,2018-06-29 45960
128183,128184,1,1,LDR1,5827007,2018-06-29 12:47:00,2018-06-29,12:47:00,0,0,...,1,1,1,1,1,1,1,1,46020,2018-06-29 46020
128185,128186,1,1,LDR1,5827008,2018-06-29 12:48:00,2018-06-29,12:48:00,1,1,...,3,3,3,3,3,3,3,3,46080,2018-06-29 46080
128187,128188,1,1,LDR1,5827009,2018-06-29 12:49:00,2018-06-29,12:49:00,3,3,...,3,3,0,2,2,2,3,2,46140,2018-06-29 46140
128189,128190,1,1,LDR1,5827010,2018-06-29 12:50:00,2018-06-29,12:50:00,2,2,...,2,2,2,2,2,2,0,2,46200,2018-06-29 46200
128191,128192,1,1,LDR1,5827011,2018-06-29 12:51:00,2018-06-29,12:51:00,2,2,...,2,2,2,2,2,2,2,2,46260,2018-06-29 46260
128193,128194,1,1,LDR1,5827012,2018-06-29 12:52:00,2018-06-29,12:52:00,2,2,...,2,2,2,2,3,4,5,5,46320,2018-06-29 46320
128195,128196,1,1,LDR1,5827013,2018-06-29 12:53:00,2018-06-29,12:53:00,4,4,...,5,5,0,5,5,4,3,3,46380,2018-06-29 46380
128197,128198,1,1,LDR1,5827014,2018-06-29 12:54:00,2018-06-29,12:54:00,3,3,...,6,6,6,6,6,6,0,6,46440,2018-06-29 46440
128199,128200,1,1,LDR1,5827015,2018-06-29 12:55:00,2018-06-29,12:55:00,6,6,...,6,6,6,6,6,5,6,6,46500,2018-06-29 46500

In [76]:
mm_dx.key

2913      2013-01-15 57120
2914      2013-01-15 57180
2915      2013-01-15 57240
2916      2013-01-15 57300
2917      2013-01-15 61440
2919      2013-01-15 61500
2921      2013-01-15 61560
2923      2013-01-15 61620
2925      2013-01-15 61680
2927      2013-01-15 61740
2929      2013-01-15 61800
2931      2013-01-15 61860
2933      2013-01-15 61920
2935      2013-01-15 61980
2937      2013-01-15 62040
2939      2013-01-15 62100
2941      2013-01-15 62160
2943      2013-01-15 62220
2945      2013-01-15 62280
2947      2013-01-15 62340
2949      2013-01-15 62400
2951      2013-01-15 62460
2953      2013-01-15 62520
2955      2013-01-15 62580
2957      2013-01-15 62640
2959      2013-01-15 62700
2961      2013-01-15 62760
2963      2013-01-15 62820
2965      2013-01-15 62880
2967      2013-01-15 62940
                ...
128141    2018-06-29 44760
128143    2018-06-29 44820
128145    2018-06-29 44880
128147    2018-06-29 44940
128149    2018-06-29 45000
128151    2018-06-29 45060
128153    2018-06-29 45120
128155    2018-06-29 45180
128157    2018-06-29 45240
128159    2018-06-29 45300
128161    2018-06-29 45360
128163    2018-06-29 45420
128165    2018-06-29 45480
128167    2018-06-29 45540
128169    2018-06-29 45600
128171    2018-06-29 45660
128173    2018-06-29 45720
128175    2018-06-29 45780
128177    2018-06-29 45840
128179    2018-06-29 45900
128181    2018-06-29 45960
128183    2018-06-29 46020
128185    2018-06-29 46080
128187    2018-06-29 46140
128189    2018-06-29 46200
128191    2018-06-29 46260
128193    2018-06-29 46320
128195    2018-06-29 46380
128197    2018-06-29 46440
128199    2018-06-29 46500
Name: key, Length: 31527, dtype: object

In [89]:
M_list = list()
for k in dy.key:
    try:
        i = list(mm_dx.key).index(k) # find the position number

        tmp = mm_dx[i:(i+10)]
        checkpoint = tmp.seconds.tolist()
        if (checkpoint[-1] - checkpoint[0]) == 60*9:
            M_list.append(np.array(mm_dx[i:(i+10)][mm_val_idx]).reshape(-1))
            continue
        else:
            print('%s has problem' % k)
    except ValueError as err:
        print(err)

In [90]:
B_list = list()
for k in dy.key:
    try:
        i = list(bb_dx.key).index(k)
        tmp = bb_dx[i:(i+10)]
        checkpoint = tmp.seconds.tolist()
        if (checkpoint[-1] - checkpoint[0]) == 60*9:
            B_list.append(np.array(bb_dx[i:(i+10)][bb_val_idx]).reshape(-1))
            continue
        else:
            print('%s has problem' % k)
    except ValueError as err:
        print(err)

In [103]:
M = pd.DataFrame(M_list, columns=['m-{0:0>3}'.format(i) for i in range(len(M_list[0]))])

B = pd.DataFrame(B_list, columns=['b-{0:0>3}'.format(i) for i in range(len(B_list[0]))])

In [26]:
B.shape

(207, 600)

In [27]:
M.shape

(207, 600)

In [105]:
dy.shape

(207, 15)

In [108]:
dM = pd.concat([dy, M], axis=1)

#dM.to_csv(os.path.join(process_data_dir, 'data_M.csv'), index=False)

In [110]:
dB = pd.concat([dy, B], axis=1)

#dB.to_csv(os.path.join(process_data_dir, 'data_B.csv'), index=False)

In [112]:
df = pd.concat([dy, M], axis=1)
df = pd.concat([df, B], axis=1)

#df.to_csv(os.path.join(process_data_dir, 'data_merged.csv'), index=False)

In [113]:
df

,ID,bed,date,start,end,FHB,variability,UA,UA_duration,UA_interval,...,b-590,b-591,b-592,b-593,b-594,b-595,b-596,b-597,b-598,b-599
0,288427,LDR1,2013-01-15,17:20,17:30,140,0,0,0.0,NaN,...,140,140,140,0,142,147,149,152,154,148
1,288427,LDR1,2013-01-15,17:54,18:04,140,0,1,60.0,120.0,...,0,147,150,157,157,0,151,150,150,148
2,288427,LDR1,2013-01-15,18:15,18:25,155,0,0,0.0,NaN,...,142,146,149,0,150,146,141,140,0,140
3,288427,LDR1,2013-01-15,18:29,18:39,150,0,0,0.0,NaN,...,150,150,151,154,154,154,154,155,156,157
4,288427,LDR1,2013-01-15,18:39,18:49,155,0,1,120.0,60.0,...,160,0,160,158,157,154,0,154,153,152
5,288427,LDR1,2013-01-15,19:19,19:29,160,0,1,90.0,90.0,...,162,162,161,160,0,161,161,162,0,164
6,288427,LDR1,2013-01-15,19:57,20:07,155,1,1,60.0,60.0,...,154,156,158,159,160,158,146,144,149,154
7,288427,LDR1,2013-01-15,20:19,20:29,155,0,1,90.0,60.0,...,157,0,159,160,162,163,161,159,158,158
8,288427,LDR1,2013-01-15,20:49,20:59,155,0,1,90.0,60.0,...,167,167,165,167,168,169,0,171,172,174
9,288427,LDR1,2013-01-15,21:09,21:19,160,0,1,90.0,60.0,...,164,165,155,156,160,163,165,166,0,168
10,288427,LDR1,2013-01-15,21:29,21:39,160,0,1,60.0,60.0,...,160,163,169,171,173,174,174,172,172,169
11,458116,LDR1,2013-01-18,8:34,8:44,135,0,1,120.0,60.0,...,136,135,136,135,134,134,133,133,133,0
12,458116,LDR1,2013-01-18,14:14,14:24,140,0,1,150.0,60.0,...,0,96,95,95,83,83,83,0,0,0
13,405355,LDR1,2013-01-28,3:13,3:23,130,0,1,90.0,180.0,...,123,124,126,128,128,125,125,126,128,129
14,405355,LDR1,2013-01-28,5:23,5:33,130,0,1,90.0,30.0,...,134,146,143,139,133,123,125,125,125,139
15,458914,LDR1,2013-02-15,15:03,15:13,145,0,1,90.0,60.0,...,126,125,128,129,129,131,126,129,128,127
16,449231,LDR1,2013-02-21,7:38,7:48,130,0,1,90.0,180.0,...,134,134,134,134,133,133,133,133,133,133
17,408422,LDR1,2013-03-03,0:16,0:26,150,0,1,120.0,60.0,...,146,148,149,149,148,145,144,143,142,140
18,459551,LDR1,2013-03-06,21:11,21:21,140,1,1,90.0,90.0,...,137,138,139,139,139,138,138,136,138,138
19,453208,LDR1,2013-04-17,17:44,17:54,130,1,1,180.0,NaN,...,131,131,0,132,133,133,133,132,133,133
20,424772,LDR1,2013-05-01,15:33,15:43,150,0,1,75.0,45.0,...,135,133,130,128,121,114,115,115,125,0
21,424772,LDR1,2013-05-01,16:23,16:33,140,0,1,60.0,60.0,...,146,146,148,0,151,154,154,153,154,147
22,424772,LDR1,2013-05-01,17:33,17:43,125,0,1,60.0,30.0,...,0,123,0,124,124,0,0,0,0,101
23,325154,LDR1,2013-05-14,17:09,17:19,125,0,1,60.0,45.0,...,0,158,145,144,149,0,156,162,0,102
24,462655,LDR1,2013-05-19,21:23,21:33,130,0,1,60.0,240.0,...,147,150,150,147,146,141,137,132,134,141
25,387893,LDR1,2013-05-20,9:12,9:22,150,0,1,120.0,270.0,...,156,156,156,157,157,157,157,157,156,156
26,344987,LDR1,2013-05-25,10:23,10:33,125,0,1,90.0,360.0,...,0,128,128,128,133,0,137,139,140,141
27,344987,LDR1,2013-05-25,13:23,13:33,130,0,1,75.0,210.0,...,128,127,131,132,132,131,129,129,130,131
28,465320,LDR1,2013-05-27,13:13,13:23,140,0,1,120.0,120.0,...,146,146,147,147,146,147,148,148,148,149
29,465320,LDR1,2013-05-27,13:13,13:23,140,0,1,120.0,120.0,...,146,146,147,147,146,147,148,148,148,149
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
177,488108,LDR1,2017-05-07,22:09,22:19,125,0,1,90.0,60.0,...,83,81,84,84,84,97,103,105,105,0
178,273956,LDR1,2017-05-13,4:39,4:49,130,0,1,60.0,60.0,...,119,119,120,120,118,119,118,117,120,122
179,273956,LDR1,2017-05-13,6:09,6:19,140,1,1,60.0,30.0,...,134,0,134,135,135,135,135,135,136,0
180,273956,LDR1,2017-05-13,8:09,8:19,155,0,1,60.0,45.0,...,154,154,156,156,158,159,159,162,162,164
181,194809,LDR1,2017-06-10,12:52,13:02,135,0,1,60.0,120.0,...,131,131,132,132,132,131,131,131,131,0
182,505142,LDR1,2017-08-16,19:22,19:32,145,0,1,60.0,30.0,...,0,142,143,143,142,0,142,142,142,141
183,474359,LDR1,2017-08-23,15:19,15:29,130,0,1,60.0,30.0,...,129,130,130,131,127,126,128,128,128,130
184,390324,LDR1,2017-09-12,16:28,16:38,135,0,1,60.0,60.0,...,135,134,133,134,136,136,136,136,135,134
185,390324,LDR1,2017-09-12,22:35,22:45,150,0,1,60.0,60.0,...,147,148,152,152,150,0,145,147,148,148
186,390324,LDR1,2017-09-13,4:16,4:26,130,0,1,120.0,30.0,...,115,115,116,119,121,123,124,124,124,0
187,390324,LDR1,2017-09-13,0:38,0:48,130,0,1,120.0,60.0,...,120,122,121,119,118,117,116,116,115,116
188,390324,LDR1,2017-09-13,14:18,14:28,135,0,1,60.0,90.0,...,128,126,0,127,128,128,129,0,131,130
189,390324,LDR1,2017-09-13,14:28,14:38,135,0,1,90.0,90.0,...,123,123,125,127,0,129,130,129,130,0
190,390324,LDR1,2017-09-13,2:28,2:38,120,0,1,60.0,90.0,...,0,0,0,0,0,0,0,0,0,135
191,98670,LDR1,2017-09-20,11:10,11:20,140,1,1,150.0,120.0,...,137,139,139,141,141,141,140,140,139,138
192,181546,LDR1,2017-09-21,20:33,20:43,145,0,1,60.0,30.0,...,152,153,153,152,154,153,154,155,156,155
193,467567,LDR1,2017-09-26,9:29,9:39,140,0,1,60.0,60.0,...,141,141,140,139,139,138,138,138,139,143
194,480212,LDR1,2017-09-27,14:26,14:36,140,0,1,90.0,30.0,...,150,150,150,152,152,152,153,151,148,146
195,480212,LDR1,2017-09-27,15:34,15:44,145,0,1,60.0,60.0,...,151,153,152,155,155,156,157,155,154,153
196,505314,LDR1,2017-10-17,16:20,16:30,140,0,1,60.0,30.0,...,112,109,105,105,106,113,119,120,121,121
197,502780,LDR1,2017-11-09,15:42,15:52,140,0,1,90.0,30.0,...,0,138,138,137,135,0,137,138,138,141
198,484698,LDR1,2017-11-17,14:07,14:17,140,0,1,60.0,75.0,...,139,136,130,125,121,122,0,128,133,140
199,484698,LDR1,2017-11-17,15:57,16:07,140,0,1,90.0,60.0,...,0,0,0,0,0,0,0,0,0,0
200,126790,LDR1,2018-01-19,4:24,4:34,150,0,1,90.0,150.0,...,150,151,149,148,148,146,145,144,146,147
201,126790,LDR1,2018-01-19,5:14,5:24,140,0,1,130.0,180.0,...,147,146,146,145,146,147,147,146,146,146
202,360524,LDR1,2018-03-25,11:47,11:57,125,1,1,90.0,45.0,...,126,126,127,126,125,122,122,125,126,126
203,360524,LDR1,2018-03-25,11:57,12:07,130,0,1,60.0,60.0,...,132,133,134,0,132,133,135,0,135,135
204,428969,LDR1,2018-03-28,0:28,0:38,170,0,1,60.0,60.0,...,155,157,157,156,159,159,161,162,164,166
205,403762,LDR1,2018-06-19,21:36,21:46,145,0,1,90.0,30.0,...,97,101,107,108,104,106,108,110,107,107
206,372984,LDR1,2018-06-29,12:28,12:38,130,0,1,120.0,90.0,...,130,132,129,130,129,131,131,130,131,130